.imgAbout img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid lime;
}
.para{
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}
