/* highlight the text after span */
@media screen and (max-width: 1400px) {
    .highlightedLimeText {
        font-size: 50px;
        color: whitesmoke;
        font-weight: bolder;
        font-style: oblique;
    }

    .highlightedLimeText span {
        color: lime;
    }


    h3 {
        font-size: 30px;
    }

    .animatedText {
        color: transparent;
        -webkit-text-stroke: 0.7px lime;
        font-weight: 700;
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 600px) {
    .highlightedLimeText {
        font-size: 30px;
    }
}