@media screen and (max-width: 1400px) {
    .column {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        gap: 50px;
    }
}
@media screen and (max-width: 600px) {
    .row {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}