*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: black;
    color: whitesmoke;
}


@media screen and (max-width : 1400px) {

    #desktopNav{
        visibility: visible;
    }

    body nav {
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        align-items: center;
        padding: 20px 100px;
        justify-content: space-between;
        background-color: black;
        z-index: 9999;
    }

    body nav .name {
        font-size: large;
        color: lime;
        font-weight: bolder;
    }

    nav .link {
        display: flex;
        gap: 50px;
    }

    #MobileNav{
        visibility: hidden;
    }

    .link li {
        text-decoration: none;
        color: whitesmoke;
        font-size: large;
        font-weight: bold;
        list-style-type: none;
        cursor: pointer;
    }

    .link li:hover {
        color: lime;
    }



    .mainContent {
        margin-top: -30px;
    }

    .content {
        position: relative;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
        gap: 10vw;
    }
    .buttons {
        margin-top: 20px;
    }
    .icons{
        display: flex;
        gap: 10px;
        margin-top: 40px;
    }

    .content .right img {
        height: auto;
        width: 32vw;
    }

}

@media screen and (max-width : 600px) {
    body .content {
        flex-direction: column;
    }
    .content .right img {
        width: 85vw;
        height: auto;
    }
    #desktopNav{
        visibility: hidden;
    }
    #MobileNav{
        visibility: visible;
    }
    body nav {
        padding: 20px 20px;
    }
    .rightScreen{
        background-color: black;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        right: 0px;
        width: 100%;
        padding: 15px 20px;
        z-index: 99;
    }
    .visibilityIcon{
        visibility: hidden;
    }
    .mainContent {
        margin-top: 70px;
    }
}