/* Circular button with transparent background */
@media screen and (max-width : 1400px) {
    .transparentCircularButton {
        cursor: pointer;
        border: 2px solid lime;
        background-color: transparent;
        color: lime;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .transparentCircularButton:hover {
        background-color: lime;
        color: black;
    }
}
